* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --glass-bg: rgba(0, 0, 0, 0.1);
    --glass-border: rgba(255, 255, 255, 0.1);
}

body {
    font-family: Poppins, Arial, sans-serif;
    color: #f4f4f4;
    background: linear-gradient(180deg, #333, #000);
}

.ambient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #333, #000);
    z-index: 0;
    opacity: 1;
    pointer-events: none;
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position:relative;
    z-index: 2;
}

nav {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin: 0 auto;
    width:150px;
    background-color: #fff;
    padding: 10px;
    border-radius:25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff6347;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    z-index:2;
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.grid-overlay {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 80px 80px;
	pointer-events: none;
	z-index: 0;
	opacity:100%;
}

.hero {
    margin: 0 auto;
    text-align: center;
    margin-top:200px;
}

.hero h1 {
    font-size: 72px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.menu-grid {
	display: grid;
	grid-template-columns: repeat(3, 350px);
	gap: 0px;
	margin: 0 auto 40px;
	justify-content: center;
}

.menu-item {
	width:350px;
	background: var(--glass-bg);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border: 2px solid var(--glass-border);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 100;
	z-index:2;
	padding-bottom: 0px;
	padding:20px 30px;
	transition: box-shadow 0.3s ease, opacity 0.3s ease, border .3s ease, transform .3s ease;
	transform:scale(0.8);
}

.menu-item h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

hr {
    width: 50px;
    height:3px;
    border: 1px solid transparent;
    background:#555;
    border-radius:20px;
    margin: 50px auto;
}

.menu-item p {
    font-size: 18px;
    margin-bottom: 20px;
}

.menu-item:hover {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform:scale(.82);
}

.skillsec {
    margin: 0 auto;
    text-align: center;
    margin-top:30px;
    font-size:40px;
    margin-bottom: 10px;
}

footer {
    width:400px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    text-align: center;
    padding: 7px;
    background: var(--glass-bg);
    border: 2px solid var(--glass-border);
    border-radius: 20px;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
	opacity:50%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}